datasets
numpy
openai
pandas
dict_hash
scipy
transformers[torch]
torch
torchvision
scikit-learn
tqdm
matplotlib
parallelformers
# nltk (optional if removing stopwords, which we usually don't do)
# need to once run nltk.download('stopwords') from python

# optional for launching jobs
# amlt

# optional for analysis
# jupyterlab
# seaborn
# pytest