datasets
numpy
pandas
scipy
transformers[torch]
torch
torchvision
scikit-learn
tqdm
matplotlib
parallelformers

# optional for launching jobs
# amlt


# optional for prefix_tuning
# dataclasses

# for dart
# statistics
# wandb
# tensorboard

# for robust prefix-tuning repo
# pytorch-transformers
# gputil