datasets
numpy
openai
pandas
dict_hash
scipy
transformers[torch]
torch
torchvision
scikit-learn
tqdm
matplotlib
parallelformers

# optional for launching jobs
# amlt

# optional for analysis
# jupyterlab
# seaborn
# pytest